.video__section{
    margin-top: spacing(5);
    .video__section--content{
        border-top: 1px solid textcolor("gray2");
        border-bottom: 1px solid textcolor("gray2");
        padding: spacing(6,18);
        justify-content: center;
        align-items: center;
        display: flex;
        height: 400px;
        @include MediaQuery($md){
            padding: spacing(2,3);
        }
        @include MediaQuery($sm){
            min-height: 250px;
          
        }
        @include MediaQuery($xs){
            display: block;
            min-height: 0;
        }
        .video__content--link{
            width: 100%;
            iframe{
                width: 100%;
                height: 350px;
                @include MediaQuery($sm){
                    height: 200px;
                }
            }
        }
        .video__content--title{
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-left: spacing(5);
            @include MediaQuery($md){
                margin-left: spacing(2);
            }
            @include MediaQuery($xs){
                margin-left: 0;
                margin-top:spacing(2);
            }
                h3{
                    @include Text($h3,$fwBold,textcolor("primary"));
                    @include MediaQuery($xs){
                     text-align: center;
                    }
                }
                p{
                    @include Text($h5,$fwRegular,textcolor("primary"));
                    width: 80%;
                    line-height: 30px;
                    @include MediaQuery($sm){
                        // font-size: $h6;
                        line-height: 20px;
                      }
                      @include MediaQuery($xs){
                        text-align: center;
                        width: 100%;
                       }
                    
                }
        }
    }
    
}