//BG-COLOR
$background:(
    "primary": #ffffff,
    "secondary":#0f7c90,
    "blue2":#2896a9,
    "blue3":#18234c,
    "yellow":#ffe799,
    "light":#fbfbf8,
    "grey":#989586,
    "gray2":#dcdacb,
    "white2":#fbfbf8,
    "white3":#f2fbfc,
    "pink":#6e1a52,
    "purple2":#094c59,
    "blue":#003640,
    "black":#000,
    "black1":#1e1e1e,
);

//TEXT COLOR
$textColor:(
    "primary":#3c3b37,
    "secondary":#0f7c90,
    "yellow":#be5a0e,
    "yellow2":#ffe799,
    "white":#ffffff,
    "gray":#73726c,
    "gray2":#dcdacb,
    "gray3":#989586,
    "gray4":#959490,
    "red":#593d00,
);

//FONT SIZE
$h1: 48px;
$h2: 40px;
$h3: 30px;
$h4: 24px;
$h5: 18px;
$h6: 16px;
$subtitle1: 14px;
$subtitle2: 12px;
$body1: 10px;
$body2: 9px;

//FONT WEIGHTS
$fwBold: 700;
$fwMedium: 600;
$fwRegular: 400;
$fwLight: 300;

//SPACING
$spacing: 10px;


